/.specjour/rsyncd.pid
/.bundle
/coverage
/db/schema.rb
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/api
/doc/app
/doc/plugins
/public/system
/public/uploads
/capybara-*.html
/rerun.txt
*.swp
.sass-cache/
*.DS_Store
public/stylesheets/admin.css
public/stylesheets/application.css
public/stylesheets/common.css
public/stylesheets/forms.css
public/stylesheets/legacy.css
public/stylesheets/scaffold.css
public/stylesheets/whitespace-reset.css
tmp/*
log/*